<%- include('partes/inicio-head') %>
    <!-- outro css...-->
</head>
<body>

    <%- include('partes/menu-navegacao') %>
    
    <h1><%= prod.title %></h1>
    <h3><%= prod.descricao %></h3>
</body>
</html>