<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        <!-- tudo que estive dentro de <%=   %>
             será interpretado pelo ejs-->
        <%= dados.titulo %>
    </h1>
    <p>
        <%= dados.texto %>
    </p>

    <!-- COMO FAZER MOSTRAR MAIS DE UM REVIEW... OU 
    MELHOR... TODA A LISTA DE REVIEWS..-->

    <ul>
    <% for (var i = 0; i < 100; i++) { %>
        <li>Item <%= i %></li>
    <% } %>
    </ul>
</body>
</html>