<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Minha pagina</h1>
    
    <% for (prod of prods) { %>
        <h2><%= prod.id %></h2>
        <h2><%= prod.nome %></h2>
        <h2><%= prod.preco %></h2>
        <h2><%= prod.descricao %></h2>
    <%}%>
</body>
</html>