<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <% if (locals.erro) { %> 
        <h2><%= erro %></h2>        
    <% } %>

    <form action="/login" method="POST">
        <input type="email" name="email" value="<% if (locals.email) { %><%=email %> <%} %>">
        <br>
        <input type="password" name="senha" >
        <br>
        <input type="submit" value="Entra!!">
    </form>

</body>
</html>